@import "tailwindcss";

html, body {
  font-family: var(--font-geist), sans-serif;
  height: 100%;
  width: 100%;
  scrollbar-gutter: stable;
}

@theme inline {
  --font-heading: var(--font-playfair-display), sans-serif;
  --font-main: var(--font-geist), sans-serif;
  --color-primary: #1b263b;
  --color-secondary: #415a77;
  --color-lightbg: #e0e4e8;
  --color-main: #2b2b2b;
  --color-tennis: #D4FC2E;
  --color-classic-tennis: #386641;
}